---
const today = new Date();
---

<footer >
	<p><a href="https://ubionexd.vercel.app/">ubionexd.vercel.app</a> and it's <a target="_blank" href="https://github.com/ubionexd/ubionexd.dev">source code</a> is licensed under <a href="/LICENSE.txt"><img class="inline" src="/CC-BY-NC.svg" alt="CC BY-NC 4.0" width="83"></a></p>
</footer>
<style>
	footer {
		text-align: center;
		margin: 5vh;
	}
</style>
