---
import Link from './Link.astro'

const today = new Date()
---

<footer class="select-none cursor-default">
	<p>
		<Link
			display={'ubionexd.vercel.app'}
			url={'https://ubionexd.vercel.app'}
		/> and it's <Link
			display={'source code'}
			url={'https://github.com/ubionexd/ubionexd.dev/tree/astro-rewrite'}
		/> is licensed under <a href="/LICENSE.txt"
			><img
				class="inline"
				src="/CC-BY-NC.svg"
				alt="CC BY-NC 4.0"
				width="83"
			/>
		</a>
	</p>
	<br>
	<div>
		<ul class="text-center">
			<a href="https://github.com/ubionexd" target="_blank" class="p-3 rounded-md hover:bg-gray-500"><img class="inline invert" src="/icons/github.svg" width="24" height="24" /></a>
			<a href="https://gitlab.com/ubinull" target="_blank" class="p-3 rounded-md hover:bg-gray-500"><img class="inline invert" src="/icons/gitlab.svg" width="24" height="24" /></a>
			<a rel="me" href="https://floss.social/@ubinull" target="_blank" class="p-3 rounded-md hover:bg-gray-500"><img class="inline invert" src="/icons/mastodon.svg" width="24" height="24" /></a>
			<a href="https://ubionexd.vercel.app/rss.xml" target="_blank" class="p-3 rounded-md hover:bg-gray-500"><img class="inline invert" src="/icons/rss.svg" width="24" height="24" /></a>
		</ul>
	</div>
</footer>
<style>
	footer {
		text-align: center;
		margin: 5vh;
	}
</style>
