---
import Link from './Link.astro'

const today = new Date()
---

<footer class="select-none cursor-default">
	<p>
		<Link
			display={'ubionexd.vercel.app'}
			url={'https://ubionexd.vercel.app'}
		/> and it's <Link
			display={'source code'}
			url={'https://github.com/ubionexd/ubionexd.dev/tree/astro-rewrite'}
		/> is licensed under <a href="/LICENSE.txt"
			><img
				class="inline"
				src="/CC-BY-NC.svg"
				alt="CC BY-NC 4.0"
				width="83"
			/>
		</a>
	</p>
</footer>
<style>
	footer {
		text-align: center;
		margin: 5vh;
	}
</style>
